// Specific CSS for your home-page
@font-face {
  font-family: myFirstFont;
  src: url(/app/assets/fonts/NeueMachina-Ultrabold.otf);
}


body{
  font-family: myFirstFont;
  background-color: #242327 !important;
  width: 100vw;
  height: 100vh;
}

 h1,h2,h3,p,a,h5, li,span{
  color: white;

 }


 .profile__title{
  text-align: center;
 }

.container-swiper{
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
