<h1 class="title title-align" id="deathrow-clips" style="margin-top:25px;">Trending Clips</h1>

<div class="cards-container">
  <% @clips.first(20).each do |clip| %>
    <%= render "shared/clip_card", clip: clip %>
    <p></p>
  <% end %>
</div>

<div style="padding-bottom: 65px;"></div>
