<h1 class="title title-align" id="deathrow-clips" style="margin-top:25px;">All Clips</h1>

<div class="cards-container">
  <% @clips.each do |clip| %>
    <%= render "shared/clip_card", clip: clip %>
  <% end %>
</div>

<div style="padding-bottom: 65px;"></div>
