<h1><%= @user.email %></h1> <!-- Username needed! -->

<!-- Display Twitch stats -->
<div>
  <h2>Twitch Stats</h2>
  <ul>
    <li>Followers: </li>
    <li>Views: </li>
    <li>Stream time:  hours</li>
  </ul>
</div>

<!-- Display Twitch clips -->
<div>
  <h2>Twitch Clips</h2>
  
</div>
