<div class = "navbar">
 <%
=begin%>
 <%= link_to search_path, class: "text-decoration-none" do %>
<%
=end%>

  <%
=begin%>
 <% end %>
<%
=end%>

  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-magnifying-glass"></i>
  <i class="fa-regular fa-user"></i>
  <i class="fa-regular fa-heart"></i>
  <i class="fa-solid fa-fire-flame-simple"></i>
</div>
