<div class="navbar-giny">

  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-magnifying-glass"></i>
  <i class="fa-regular fa-user"></i>
  <i class="fa-regular fa-heart"></i>
  <i class="fa-solid fa-fire-flame-simple"></i>
</div>
