<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="navbar-giny">

  <i class='bx bxs-home-alt-2'></i>
  <i class='bx bxs-search-alt-2' ></i>
  <i class='bx bxs-user' ></i>
  <i class='bx bxs-planet'></i>
  <i class='bx bxs-hot' ></i>
</div>
