.category-btn {
  background-color: transparent;
  border-radius: 28px;
  border: 1px solid;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: 'Work Sans', sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  max-width: 107px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-trip p {
  padding-bottom: 11px;
}
