.cards-container {
  padding: 12px;
}

.card-trip {
  overflow: hidden;
  background: #635985;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 12px;
  border-radius: 23px;
  padding: 11px 11px 0px 11px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  // margin: 0;
}

.card-trip p {
  font-size: 11px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 11px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
