.game {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.game-small {
  width: 200px;
  height: 175px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.game-but-smaller {
  height: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
}

#smol-cards {
  border-radius: 11%;
  width: 65px;
  height: 100%;
}
