.navbar-giny {
  background-color: #282828;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  font-size: 17px;
  z-index: 10000;

  a {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
      color: #9153F4;
    }

    &.active {
      color: #9153F4;
    }

    i {
      font-size: 22px;
    }

    &:after {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: #a251fd;
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    &:hover:after {
      transform: scale(1);
    }

    &.active:after {
      transform: scale(1);
    }
  }
}
