:root{
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
/*==================== streams ====================*/
.streams__container {
  row-gap: 0;
}

.streams__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.streams__icon, .streams__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.streams__icon {
  margin-right: var(--mb-0-75);
}

.streams__title {
  font-size: var(--h3-font-size);
}

.streams__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.streams__arrow {
  margin-left: auto;
  transition: .4s;
}

.streams__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.streams__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.streams__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.streams__bar, .streams__percentage {
  height: 5px;
  border-radius: .25rem;
}

.streams__bar {
  background-color: var(--first-color-lighter);
}

.streams__percentage {
  display: block;
  background-color: var(--first-color);
}

.streams__html {
  width: 90%;
}

.streams__css {
  width: 80%;
}

.streams__js {
  width: 60%;
}

.streams__react {
  width: 85%;
}

.streams__php {
  width: 80%;
}

.streams__node {
  width: 70%;
}

.streams__firebase {
  width: 90%;
}

.streams__python {
  width: 55%;
}

.streams__figma {
  width: 90%;
}

.streams__sketch {
  width: 85%;
}

.streams__photoshop {
  width: 85%;
}

.streams__close .streams__list {
  height: 0px;
  overflow: hidden;
}

.streams__open .streams__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.streams__open .streams__arrow {
  transform: rotate(-180deg);
}
}
