.top, .top__container{
  display: grid;
}

.top{
 align-items: center;
 justify-content: center;
 padding-bottom: 60px;
}

.top__container{
  row-gap: .25rem;  //1rem
  // padding: 1rem 2rem;
  // background-color: rgb(43, 42, 42);
  border-radius: 2rem;

}

.top__card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__card{
  width: 360px;
  background: #635985 ;
  padding:.15rem 1.25rem .15rem .1rem;     //.75rem 1.25rem .75rem .75rem;
  // border: 1.5px solid white;
  // box-shadow: 4px 4px 16px grey;
  border-radius: 2.5rem;
}


.top__img{
 width: 55px;
 height: 55px;
 border-radius: 50%;
 margin-right: 1rem;
}

.top__name{
  font-size: medium;
  font-weight: 500;
}

.upcoming-title{
  justify-content: center;
  align-items: center;
  display: flex;
}






//----------------- search page styling ----------------


.search-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-category {
  width: 100%;
}

.search-bar {
  width: 100%;
  margin-bottom: 30px;
}

.categories-section{
  width:100%;
  margin-bottom: 30px;
}

.channels-section{
  width:100%;
  margin-bottom: 86px;
}

.search-category{
  display:flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

.category-name{
  margin-left: 10px;
}

.search-channel{
  width: 100%;
  display:flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

